<div class="section">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<div class="section-row">
					<div class="section-title">
						<h2 class="title">Explore Latest</h2>
					</div>
				</div>
                <% if(blog != '') { %>
                    <% blog.forEach(function(blog, index){ %>
                        <div class="post post-row">
                            <a class="post-img" href="/blog/<%= blog._id %>">
                                <img src="/uploads/<%= blog.image %>" alt="">
                            </a>
                            <div class="post-body">
                                <div class="post-category">
                                    <a href="#"><%= blog.category %></a>
                                </div>
                                <h3 class="post-title">
                                    <a href="/blog/<%= blog._id %>">
                                        <%= blog.name %>
                                    </a>
                                </h3>
                                <!-- <ul class="post-meta">
                                    <li><a href="">John Doe</a></li>
                                    <li>20 April 2018</li>
                                </ul> -->
                            </div>
                        </div>
                    <% }) %>
                <% } else { %>
                    <p>No items found.</p>
                <% } %>
			</div>
			
            <%- include('./partials/sidebar') %>
		</div>
	</div>
</div>