<div class="section">
	<div class="container">
		<div id="hot-post" class="row hot-post">
			<div class="col-md-8 hot-post-left">
				<div class="post post-thumb">
					<a class="post-img" href="blog-post.html"><img src="./img/hot-post-1.jpg" alt=""></a>
					<div class="post-body">
						<div class="post-category">
							<a href="#">Lifestyle</a>
						</div>
						<h3 class="post-title title-lg"><a href="blog-post.html">Postea senserit id eos, vivendo periculis ei qui</a></h3>
						<ul class="post-meta">
							<li><a href="author.html">John Doe</a></li>
							<li>20 April 2018</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-4 hot-post-right">
				<div class="post post-thumb">
					<a class="post-img" href="blog-post.html"><img src="./img/hot-post-2.jpg" alt=""></a>
					<div class="post-body">
						<div class="post-category">
							<a href="#">Lifestyle</a>
						</div>
						<h3 class="post-title"><a href="blog-post.html">Sed ut perspiciatis, unde omnis iste natus error sit</a></h3>
						<ul class="post-meta">
							<li><a href="author.html">John Doe</a></li>
							<li>20 April 2018</li>
						</ul>
					</div>
				</div>

				<div class="post post-thumb">
					<a class="post-img" href="blog-post.html"><img src="./img/hot-post-3.jpg" alt=""></a>
					<div class="post-body">
						<div class="post-category">
							<a href="#">Fashion</a>
							<a href="#">Lifestyle</a>
						</div>
						<h3 class="post-title"><a href="blog-post.html">Mel ut impetus suscipit tincidunt. Cum id ullum laboramus persequeris.</a></h3>
						<ul class="post-meta">
							<li><a href="author.html">John Doe</a></li>
							<li>20 April 2018</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="section">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<div class="row">
					<div class="col-md-12">
						<div class="section-title">
							<h2 class="title">
								<a href="/explore-latest">Latest posts</a>
							</h2>
						</div>
					</div>
					<% if(posts != '') { %>
						<% posts.latest.forEach(function(blog, index){ %>
							<div class="col-md-6">
								<div class="post">
									<a class="post-img" href="/blog/<%= blog._id %>">
										<img src="/uploads/<%= blog.image %>" alt="<%= blog.name %>">
									</a>
									<div class="post-body">
										<div class="post-category">
											<a href="#"><%= blog.category %></a>
										</div>
										<h3 class="post-title">
											<a href="/blog/<%= blog._id %>">
												<%= blog.name %>
											</a>
										</h3>
										<!-- <ul class="post-meta">
											<li><a href="author.html">John Doe</a></li>
											<li>20 April 2018</li>
										</ul> -->
									</div>
								</div>
							</div>
						<% }) %>
					<% } else { %>
						<p>No post found.</p>
					<% } %>
				</div>

				<div class="row">
					<div class="col-md-12">
						<div class="section-title">
							<h2 class="title">
								<a href="/categories/Technology">Technology</a>
							</h2>
						</div>
					</div>
					<% if(typeof posts.tech !== 'undefined' && posts.tech.length > 0) { %>
						<% posts.tech.forEach(function(blog, index){ %>
							<div class="col-md-4">
								<div class="post post-sm">
									<a class="post-img" href="/blog/<%= blog._id %>">
										<img src="/uploads/<%= blog.image %>" alt="<%= blog.name %>">
									</a>
									<div class="post-body">
										<div class="post-category">
											<a href="#"><%= blog.category %></a>
										</div>
										<h3 class="post-title">
											<a href="/blog/<%= blog._id %>">
												<%= blog.name %>
											</a>
										</h3>
										<!-- <ul class="post-meta">
											<li><a href="author.html">John Doe</a></li>
											<li>20 April 2018</li>
										</ul> -->
									</div>
								</div>
							</div>
						<% }) %>
					<% } else { %>
						<p style="text-align: center;">No items found.</p>
					<% } %>
				</div>

				<div class="row">
					<div class="col-md-12">
						<div class="section-title">
							<h2 class="title">
								<a href="/categories/Health">
									Health
								</a>
							</h2>
						</div>
					</div>
					<% if(typeof posts.health !== 'undefined' && posts.health.length > 0) { %>
						<% posts.health.forEach(function(blog, index){ %>
							<div class="col-md-4">
								<div class="post post-sm">
									<a class="post-img" href="/blog/<%= blog._id %>">
										<img src="/uploads/<%= blog.image %>" alt="<%= blog.name %>">
									</a>
									<div class="post-body">
										<div class="post-category">
											<a href="#"><%= blog.category %></a>
										</div>
										<h3 class="post-title">
											<a href="/blog/<%= blog._id %>">
												<%= blog.name %>
											</a>
										</h3>
										<!-- <ul class="post-meta">
											<li><a href="author.html">John Doe</a></li>
											<li>20 April 2018</li>
										</ul> -->
									</div>
								</div>
							</div>
						<% }) %>
					<% } else { %>
						<p style="text-align: center;">No items found.</p>
					<% } %>
				</div>

				<div class="row">
					<div class="col-md-12">
						<div class="section-title">
							<h2 class="title">
								<a href="/categories/Music">
									Music
								</a>
							</h2>
						</div>
					</div>
					<% if(typeof posts.music !== 'undefined' && posts.music.length > 0) { %>
						<% posts.music.forEach(function(blog, index){ %>
							<div class="col-md-4">
								<div class="post post-sm">
									<a class="post-img" href="/blog/<%= blog._id %>">
										<img src="/uploads/<%= blog.image %>" alt="<%= blog.name %>">
									</a>
									<div class="post-body">
										<div class="post-category">
											<a href="#"><%= blog.category %></a>
										</div>
										<h3 class="post-title">
											<a href="/blog/<%= blog._id %>">
												<%= blog.name %>
											</a>
										</h3>
										<!-- <ul class="post-meta">
											<li><a href="author.html">John Doe</a></li>
											<li>20 April 2018</li>
										</ul> -->
									</div>
								</div>
							</div>
						<% }) %>
					<% } else { %>
						<p style="text-align: center;">No items found.</p>
					<% } %>
				</div>
			</div>
			
            <%- include('./partials/sidebar') %>
		</div>
	</div>
</div>

<div class="section">
	<div class="container">
		<div class="row">
			<div class="col-md-12 section-row text-center">
				<a href="#" style="display: inline-block;margin: auto;">
					<img class="img-responsive" src="./img/ad-2.jpg" alt="">
				</a>
			</div>
		</div>
	</div>
</div>

<div class="section">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="section-title">
					<h2 class="title">Lifestyle</h2>
				</div>
				<div class="post">
					<a class="post-img" href="blog-post.html"><img src="./img/post-6.jpg" alt=""></a>
					<div class="post-body">
						<div class="post-category">
							<a href="#">Fashion</a>
							<a href="#">Lifestyle</a>
						</div>
						<h3 class="post-title"><a href="blog-post.html">Postea senserit id eos, vivendo periculis ei qui</a></h3>
						<ul class="post-meta">
							<li><a href="author.html">John Doe</a></li>
							<li>20 April 2018</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="section-title">
					<h2 class="title">Fashion</h2>
				</div>
				<div class="post">
					<a class="post-img" href="blog-post.html"><img src="./img/post-5.jpg" alt=""></a>
					<div class="post-body">
						<div class="post-category">
							<a href="#">Lifestyle</a>
						</div>
						<h3 class="post-title"><a href="blog-post.html">Sed ut perspiciatis, unde omnis iste natus error sit</a></h3>
						<ul class="post-meta">
							<li><a href="author.html">John Doe</a></li>
							<li>20 April 2018</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="section-title">
					<h2 class="title">Health</h2>
				</div>
				<div class="post">
					<a class="post-img" href="blog-post.html"><img src="./img/post-9.jpg" alt=""></a>
					<div class="post-body">
						<div class="post-category">
							<a href="#">Lifestyle</a>
						</div>
						<h3 class="post-title"><a href="blog-post.html">Mel ut impetus suscipit tincidunt. Cum id ullum laboramus persequeris.</a></h3>
						<ul class="post-meta">
							<li><a href="author.html">John Doe</a></li>
							<li>20 April 2018</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-4">
				<div class="post post-widget">
					<a class="post-img" href="blog-post.html"><img src="./img/widget-1.jpg" alt=""></a>
					<div class="post-body">
						<div class="post-category">
							<a href="#">Travel</a>
						</div>
						<h3 class="post-title"><a href="blog-post.html">Postea senserit id eos, vivendo periculis ei qui</a></h3>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="post post-widget">
					<a class="post-img" href="blog-post.html"><img src="./img/widget-4.jpg" alt=""></a>
					<div class="post-body">
						<div class="post-category">
							<a href="#">Health</a>
						</div>
						<h3 class="post-title"><a href="blog-post.html">Ne bonorum praesent cum, labitur persequeris definitionem quo cu?</a></h3>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="post post-widget">
					<a class="post-img" href="blog-post.html"><img src="./img/widget-8.jpg" alt=""></a>
					<div class="post-body">
						<div class="post-category">
							<a href="#">Travel</a>
						</div>
						<h3 class="post-title"><a href="blog-post.html">Mel ut impetus suscipit tincidunt. Cum id ullum laboramus persequeris.</a></h3>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="section">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<div class="post post-row">
					<a class="post-img" href="blog-post.html"><img src="./img/post-13.jpg" alt=""></a>
					<div class="post-body">
						<div class="post-category">
							<a href="#">Travel</a>
							<a href="#">Lifestyle</a>
						</div>
						<h3 class="post-title"><a href="blog-post.html">Mel ut impetus suscipit tincidunt. Cum id ullum laboramus persequeris.</a></h3>
						<ul class="post-meta">
							<li><a href="author.html">John Doe</a></li>
							<li>20 April 2018</li>
						</ul>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...</p>
					</div>
				</div>

				<div class="section-row loadmore text-center">
					<a href="#" class="primary-button">Load More</a>
				</div>
			</div>
			<div class="col-md-4">
				<div class="aside-widget">
					<div class="section-title">
						<h2 class="title">Instagram</h2>
					</div>
					<div class="galery-widget">
						<ul>
							<li><a href="#"><img src="./img/galery-1.jpg" alt=""></a></li>
						</ul>
					</div>
				</div>

				<div class="aside-widget text-center">
					<a href="#" style="display: inline-block;margin: auto;">
						<img class="img-responsive" src="./img/ad-1.jpg" alt="">
					</a>
				</div>
			</div>
		</div>
	</div>
</div>